<div class="container my-5">

  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div class="form-group">
      <label for="phrase">Phrase</label>
      <div *ngIf="isSubmitted && form.controls['phrase'].invalid" class="alert alert-danger" role="alert">
        Veuillez remplir le champ
      </div>
      <input type="text" id="phrase" class="form-control mb-3" formControlName=phrase>
    </div>


    <div class="form-group">
      <label for="game">Game</label>
      <div *ngIf="isSubmitted && form.controls['game'].invalid" class="alert alert-danger" role="alert">
        Veuillez remplir le champ
      </div>
      <input type="text" id="game" class="form-control mb-3" formControlName=game>
    </div>


    <div class="form-group">
      <label for="image">Image URL</label>
      <div *ngIf="isSubmitted && form.controls['image'].invalid" class="alert alert-danger" role="alert">
        <div *ngIf="hasError('image', 'required')">Image URL est requis</div>
        <div *ngIf="hasError('image', 'minlength')">Image URL doit avoir au moins 4 caractères</div>
      </div>
      <input type="text" id="image" class="form-control mb-3" formControlName=image>
    </div>


    <button type="submit" class="btn btn-primary">Create Citation</button>
  </form>

</div>